@{
    ViewData["Title"] = "Home Page";
}

<div class="home_top_div">
</div>
<div class="home_center_div">
    <h1 class="ReservationListTitle"> You are hungry - make a Reservation in your best Restaurant</h1>
    <a asp-controller="Resrvations" asp-action="Index" class="ReservationButton">Take me</a>
</div>
<div class="home_bottom_div">
</div>