@model RestorantReservations.Models.Reservation

@{
    ViewData["Title"] = "Create";
}
<div class="create_reservation_view">
    <div class="row">
        <h1 class="create_reservation_title">Make reservation</h1>
        <div class="col-md-4">
            <form  asp-action="Create" class="table_create_inputs">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="note" class="control-label"></label>
                    <input asp-for="note" class="form-control" />
                    <span asp-validation-for="note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TableId" class="control-label"></label>
                    <select asp-for="TableId" class ="form-control" asp-items="ViewBag.TableId"></select>
                    <span asp-validation-for="TableId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div> 
                
            </form>
        </div> 
        
    </div>

    <div>
        <a asp-action="Index" class="back_to_list">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
